body {
  background-color: #c4c4c4;
}

.section {
  background-color: white;
  border: solid;
  width: 1048px;
  
  padding: 5px;  
}

.standard_button {
  padding: 2px;
  border: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  border-radius: 0px;

  font: inherit;
  font-size: 15px;
  font-family: Courier;

  color: inherit;
  background-color: #FFFFFF;
  cursor: pointer;

}

input {
  border: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  border-radius: 3px;

  font: inherit;
  font-size: 15px;
  font-family: Courier;

  color: inherit;
  background-color: #FFFFFF;
}

select {
  padding: 1px;
  border: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  border-radius: 3px;

  font: inherit;
  font-size: 15px;
  font-family: Courier;

  color: inherit;
  background-color: #FFFFFF;
  cursor: pointer;
}

p {
  font-family: Courier;
  font-size: 20px;
}
