<template name="converter">
  <div class="section">
    <div id="converter_div">

      <button class="standard_button" id="add_button" onclick="FlowRouter.go('App.add')">add</button>
      <button class="standard_button" id="list_button" onclick="FlowRouter.go('App.list')">list</button>
      <button class="standard_button" id="list_button" onclick="">dump</button>

      <!-- <p>&nbsp; | &nbsp;</p> -->
      <hr>
      <input type="text" id="converter_input" oninput="convert();">
      <select id="from_unit" oninput="convert();">
        <option value="meters">meters</option>
        <option value="kilograms">kilograms</option>
        <option value="seconds">seconds</option>
      </select>
      <p> to </p>
      <select id="to_unit" oninput="convert();">
        <option value="meters">meters</option>
        <option value="kilograms">kilograms</option>
        <option value="seconds">seconds</option>
      </select>
      <p> is </p>
      <input type="text" id="converter_result" oninput="convert();">
    </div>
  </div>
</template>
