
<template name="calculator">
  <div class="section">
    <div id="calculator_div">
      <table>
        <tr>
          <th class="th_button" style="border-bottom: none; background-color: orange;"><button class="clearbutton"><b>c</b></button></th>
          <th class="th_display">
            <div class="div_display" id="calculator_display" contenteditable="true"></div> </th>
          <th class="th_button">
            <select class="cselect" id="to_system" style="font-size: 15px; background-color: orange; width: 101px;">
                {{#each sys in systemsCollection}}
                  <option value={{sys.name}}>{{sys.name}}</option>
                {{/each}}
              </select>
          </th>

        </tr>
      </table>
      <table>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button style="font-size: 15px" class="cbutton">add</button></th>
          <th class="th_button"><button class="cbutton" id="mbutton">m</button></th>
          <th class="th_button"><button class="cbutton" id="sbutton">s</button></th>
          <th class="th_button"><button class="cbutton" id="kgbutton">kg</button></th>
          <th class="th_button"><button class="cbutton" id="Nbutton">N</button></th>
          <th class="th_button"><button class="cbutton" id="op3_button" style="background-color: #A3D3D3;">&lt;</button></th>
          <th class="th_button"><button class="cbutton" id="cl3_button" style="background-color: #A3D3D3;">&gt;</button></th>
          <th class="th_button" style="background-color: #377be8;"><button id="divbutton" class="cbutton">÷</button></th>

          <th class="th_button"><button class="cbutton" id="7button">7</button></th>
          <th class="th_button"><button class="cbutton" id="8button">8</button></th>
          <th class="th_button"><button class="cbutton" id="9button">9</button></th>
          <th class="th_button"><button style="font-size: 15px; background-color: lightcoral; width: 101px;" class="cbutton" onclick="FlowRouter.go('App.add_unit')" id="addunit_button">add unit</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button  style="font-size: 15px" class="cbutton">list</button></th>
          <th class="th_button"><button style="font-size: 15px" class="cbutton">tan()</button></th>
          <th class="th_button"><button style="font-size: 15px" class="cbutton">cos()</button></th>
          <th class="th_button"><button style="font-size: 15px" class="cbutton">sin()</button></th>
          <th class="th_button"><button style="font-size: 15px" class="cbutton">√()</button></th>
          <th class="th_button"><button class="cbutton" id="bracketop_button" style="background-color: #A3D3D3;">{</button></th>
          <th class="th_button"><button class="cbutton" id="bracketcl_button" style="background-color: #A3D3D3;">}</button></th>
          <th class="th_button" id="mulbutton" style="background-color: #377be8;"><button class="cbutton">&times;</button></th>

          <th class="th_button"><button class="cbutton" id="4button">4</button></th>
          <th class="th_button"><button class="cbutton" id="5button">5</button></th>
          <th class="th_button"><button class="cbutton" id="6button">6</button></th>
          <th class="th_button"><button style="font-size: 15px; background-color: lightcoral; width: 101px;" class="cbutton" id="addsystem_button">add system</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton" style="font-size: 15px" >load</button></th>
          <th class="th_button"><button class="cbutton">abs</button></th>
          <th class="th_button"><button class="cbutton">ln</button></th>
          <th class="th_button"><button class="cbutton"><i>pi</i></button></th>
          <th class="th_button"><button class="cbutton"><i>e</i></button></th>

          <th class="th_button"><button class="cbutton" id="op2button" style="background-color: #A3D3D3;">[</button></th>
          <th class="th_button"><button class="cbutton" id="cl2button" style="background-color: #A3D3D3;">]</button></th>
          <th class="th_button" id="subbutton" style="background-color: #377be8;"><button class="cbutton">-</button></th>

          <th class="th_button"><button class="cbutton" id="1button">1</button></th>
          <th class="th_button"><button class="cbutton" id="2button">2</button></th>
          <th class="th_button"><button class="cbutton" id="3button">3</button></th>
          <th class="th_button"><button style="font-size: 15px; background-color: lightcoral; width: 101px;" class="cbutton" onclick="FlowRouter.go('App.add_conversion')" id="adduconversion_button">add conversion</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton" id="loadbutton" style="font-size: 15px">store</button></th>
          <th class="th_button"><button class="cbutton" >&</button></th>
          <th class="th_button"><button class="cbutton" >|</button></th>
          <th class="th_button"><button class="cbutton" >,</button></th>
          <th class="th_button"><button class="cbutton" id="dotbutton">.</button></th>
          <th class="th_button"><button class="cbutton" id="op1button" style="background-color: #A3D3D3;">(</button></th>
          <th class="th_button"><button class="cbutton" id="cl1button" style="background-color: #A3D3D3;">)</button></th>
          <th class="th_button" id="addbutton" style="background-color: #377be8;"><button class="cbutton">+</button></th>

          <th class="th_button"><button class="cbutton" id="expbutton" style="background-color: #377be8;">^</button></th>
          <th class="th_button"><button class="cbutton" id="0button">0</button></th>
          <th class="th_button" id="equals_button" style="background-color: #1dd686;"><button class="cbutton"
          >=</button></th>
          
          <th class="th_button"><button style="font-size: 15px; background-color: lightcoral; width: 101px;" class="cbutton" onclick="FlowRouter.go('App.list')" id="addunit_button">units</button></th>      
        </tr>
      </table>
    </div>
  </div>
</template>
