<!-- <script type="text/javascript" src="../../../client/base.js"></script> -->
<template name="calculator">    
  <div class="section">
    <div id="calculator_div">
      <table>
        <tr>
          <th class="th_button" style="border-bottom: none; background-color: orange;"><button class="clearbutton" onclick="receive('clear');"><b>c</b></button></th>
          <th class="th_display">
            <div class="div_display" id="calculator_display" contenteditable="true">Welcome to the Calculation Utility.</div> </th>
          <th class="th_button">
            <select class="cselect" id="to_system" style="background-color: orange; width: 101px;" oninput="convert();">
                {{#each sys in systemsCollection}}
                  <option value={{sys.name}}>{{sys.name}}</option>
                {{/each}}
              </select>
          </th>

        </tr>
      </table>
      <table>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton">u</button></th>
          <th class="th_button"><button class="cbutton"></button></th>
          <th class="th_button"><button class="cbutton">u</button></th>
          <th class="th_button"><button class="cbutton">u</button></th>
          <th class="th_button"><button class="cbutton">u</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">&lt;</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">&gt;</button></th>
          <th class="th_button" style="background-color: #377be8;"><button class="cbutton" onclick="receive('divide');">÷</button></th>

          <th class="th_button"><button class="cbutton" onclick="receive('7');">7</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('8');">8</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('9');">9</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton">u</button></th>
          <th class="th_button"><button class="cbutton">tan</button></th>
          <th class="th_button"><button class="cbutton">cos</button></th>
          <th class="th_button"><button class="cbutton">sin</button></th>
          <th class="th_button"><button class="cbutton">sqrt</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">{</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">}</button></th>
          <th class="th_button" style="background-color: #377be8;"><button class="cbutton" onclick="receive('multiply');">&times;</button></th>

          <th class="th_button"><button class="cbutton" onclick="receive('4');">4</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('5');">5</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('6');">6</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton" style="font-size: 15px" onclick="receive('load');">load</button></th>
          <th class="th_button"><button class="cbutton">abs</button></th>
          <th class="th_button"><button class="cbutton">exp</button></th>
          <th class="th_button"><button class="cbutton">e</button></th>
          <th class="th_button"><button class="cbutton">pi</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">[</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;">]</button></th>
          <th class="th_button" style="background-color: #377be8;"><button class="cbutton" onclick="receive('subtract');">-</button></th>

          <th class="th_button"><button class="cbutton" onclick="receive('1');">1</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('2');">2</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('3');">3</button></th>
        </tr>
        <tr>
          <th class="th_button" style="background-color: #9542f4;"><button class="cbutton" style="font-size: 15px" onclick="receive('store');">store</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('4');">&</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('4');">|</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('4');">,</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('4');">.</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;" onclick="receive('4');">(</button></th>
          <th class="th_button"><button class="cbutton" style="background-color: #A3D3D3;" onclick="receive('4');">)</button></th>
          <th class="th_button" style="background-color: #377be8;"><button class="cbutton" onclick="receive('add');">+</button></th>

          <th class="th_button"><button class="cbutton" style="background-color: #377be8;" onclick="receive('exponentiate');">^</button></th>
          <th class="th_button"><button class="cbutton" onclick="receive('0');">0</button></th>
          <th class="th_button" style="background-color: #1dd686;"><button class="cbutton" 
            onclick="document.getElementById('calculator_display').innerText = solve(new Expression(document.getElementById('calculator_display').innerText), systems1, baseunits, compoundunits).toString();">=</button></th>
        </tr>
      </table>
      <button class="standard_button" id="add_button" onclick="FlowRouter.go('App.add')">add</button>
      <button class="standard_button" id="list_button" onclick="FlowRouter.go('App.list')">list</button>
    </div>
  </div>
</template>
